*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'poppins', sans-serif;
}
header{
    background: #161616;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 90%,0 100%);
}
.wrapper{
    max-width: 1152px;
    margin: 0 auto;
    padding: 0 15px;
}
.logo a{
    text-decoration: none;
    color: #fff;
    font-weight: 900;
    font-style: italic;
    letter-spacing: 1px;
}
.logo{
    padding-top: 15px;
}
nav{
    display: -webkit-flex;
    display: moz-flex;
    display: -ms-flex;
    display: o-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.right-nav{
    padding-top: 15px;
}
.right-nav a{
    text-decoration: none;
    color: #fff;
    margin-left: 15px;
    transition: all .3s ease;
}
.right-nav a:hover{
    color: #3dcfd3;
}
.hero-left{
    display: -webkit-flex;
    display: moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    flex: 1;
}
.hero-right{
    flex: 1;
}
.hero-section{
    display: -webkit-flex;
    display: moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-left img {
    width: 400px;
}
.hero-right h2,
.hero-right p 
{
    color: #fff;
}
h1.cusAni{
    font-size: 4rem;
    color: #fff;
    position: relative;
    margin: 0;
    width: 100%;
}
h1.cusAni{
    font-size: 4rem;
    color: #fff;
    position: relative;
    margin: 0;
    width: 100%;
}
h1.cusAni::before{
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    color: #3dcfd3;
    overflow: hidden;
    border: 2px;
    animation: animate 6s infinite;
}
@keyframes animate{
    0%, 10%, 100%{
        width: 0;
    }
    50%, 70%{
        width: 100%;
    }
}

/* responsive css */

@media(max-width:1200px){
    .wrapper{
       max-width: 1152px;
    }
}
@media(max-width:768px){
    .wrapper{
        max-width: 720px;
    }
    h1.cusAni{
        font-size: 2rem;
    }

}
@media(max-width:576px){
    .wrapper{
        max-width: 540px;
        flex-direction: column;
    }
    nav{
        display: block;
        text-align: center;
    }
    .hero-right{
        position: absolute;
        top: 240px;
        padding: 0 1rem;
    }
    h1.cusAni{
        font-size: 3rem;
    }
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.section{
	width: 100%;
	min-height: 100vh;
}
.container{
	width: 80%;
	display: block;
	margin: auto;
	padding-top: 100px;
}
.content-section{
	float: left;
	width: 55%;
}
.image-section{
	float: right;
	width: 40%;
}
.image-section img{
	width: 100%;
	height: auto;
}
.content-section .title{
	text-transform: uppercase;
	font-size: 28px;
}
.content-section .content h3{
	margin-top: 20px;
	color:#5d5d5d;
	font-size: 21px;
}
.content-section .content p{
	margin-top: 10px;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5;
}
.content-section .content .button{
	margin-top: 30px;
}
.content-section .content .button a{
	background-color: #3d3d3d;
	padding:12px 40px;
	text-decoration: none;
	color:#fff;
	font-size: 25px;
	letter-spacing: 1.5px;
}
.content-section .content .button a:hover{
	background-color: #a52a2a;
	color:#fff;
}
.content-section .social{
	margin: 40px 40px;
}
.content-section .social i{
	color:#a52a2a;
	font-size: 30px;
	padding:0px 10px;
}
.content-section .social i:hover{
	color:#3d3d3d;
}
@media screen and (max-width: 768px){
	.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top:50px;
}
.content-section{
	float:none;
	width:100%;
	display: block;
	margin:auto;
}
.image-section{
	float:none;
	width:100%;

}
.image-section img{
	width: 100%;
	height: auto;
	display: block;
	margin:auto;
}
.content-section .title{
	text-align: center;
	font-size: 19px;
}
.content-section .content .button{
	text-align: center;
}
.content-section .content .button a{
	padding:9px 30px;
}
.content-section .social{
	text-align: center;
}

}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

.containeres{
    background:linear-gradient(45deg, blueviolet, lightgreen);
    padding:15px 9%;
    padding-bottom: 100px;
}

.containeres .heading{
    text-align: center;
    padding-bottom: 15px;
    color:#fff;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 50px;
}

.containeres .box-containeres{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:15px;
}

.containeres .box-containeres .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding:30px 20px;
}

.containeres .box-containeres .box img{
    height: 80px;
}

.containeres .box-containeres .box h3{
    color:#444;
    font-size: 22px;
    padding:10px 0;
}

.containeres .box-containeres .box p{
    color:#777;
    font-size: 15px;
    line-height: 1.8;
}

.containeres .box-containeres .box .btn{
    margin-top: 10px;
    display: inline-block;
    background:#333;
    color:#fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}

.containeres .box-containeres .box .btn:hover{
    letter-spacing: 1px;
}

.containeres.box-containeres .box:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}

@media (max-width:768px){
    .containeres{
        padding:20px;
    }
}

/* skills start */

.service .box-containe{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap:1.5rem;
}

.service .box-containe .box{
    border-radius: .5rem;
    background:#333;
    text-align: center;
    padding:2.5rem;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
}
.service .box-containe .box i{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    border-radius: 50%;
    font-size: 2.5rem;
    background:var(--main-color);
    color:#fff;
}

.service .box-containe .box h3{
    font-size: 2rem;
    color:#fff;
    padding:1rem 0;
}

.service .box-containe .box p{
    font-size: 1.4rem;
    color:#eee;
    line-height: 1.8;
}
/* skills end */

/* image galarry start */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.containers{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 20px 0 20px;
}

.containers .heading{
  width: 50%;
  padding-bottom: 50px;
}
.containers .heading h3{
  font-size: 3em;
  font-weight: bolder;
  padding-bottom: 10px;
  border-bottom: 3px solid #222;
}

.containers .heading h3 span{
  font-weight: 100;
}
.containers .box{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.containers .box .dream{
  display: flex;
  flex-direction: column;
  width: 32.5%;
}

.containers .box .dream img{
  width: 100%;
  padding-bottom: 15px;
  border-radius: 5px;
}

.containers .btn{
  margin: 40px 0 70px 0;
  background: #222;
  padding: 15px 40px ;
  border-radius: 5px;
}

.containers .btn a{
 color: #fff;
 font-size: 1.2em;
 text-decoration: none;
 font-weight: bolder;
 letter-spacing: 3px;
}

@media only screen and (max-width: 769px){
    .container .box{
   flex-direction: column;
  }

.container .box .dream{
  width: 100%;
}





}

@media only screen and (max-width: 643px){
.container .heading{
  width: 100%;
}
.container .heading h3{
  font-size: 1em;

}

}
/* image galarry end */

/* Testimonila start */

.reivew .box{
    border-radius: .5rem;
    background: #333;
    padding:2rem;
    position: relative;
}

.reivew .box .fa-quote-right{
    position: absolute;
    top:2rem; right: 2rem;
    color:var(--main-color);
    font-size: 5rem;
}

.reivew .box .user{
    display: flex;
    align-items: center;
    gap:1.5rem;
    padding-bottom: 1rem;
}

.reivew .box .user img{
    height:7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.reivew .box .user h3{
    font-size: 2rem;
    color:#fff;
}

.reivew .box .user span{
    font-size: 1.5rem;
    color:#eee;
}

.reivew .box p{
    line-height: 2;
    color:#eee;
    padding:.5rem 0;
    font-size: 1.6rem;
}

/* testimonila end */

/* contact us */

.contact form{
    max-width: 70rem;
    margin:1rem auto;
    text-align: center;
}

.contact form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .inputBox input,
.contact form textarea{
    width: 100%;
    background:#333;
    border-radius: .5rem;
    padding:1rem;
    margin:.7rem 0;
    font-size: 1.5rem;
    color:#fff;
    text-transform: none;
}

.contact form .inputBox input::placeholder,
.contact form textarea::placeholder{
    color:#eee;
    text-transform: capitalize;
}

.contact form .inputBox input:focus,
.contact form textarea:focus{
    background:#444;
}

.contact form .inputBox input{
    width: 49%;
}

.contact form textarea{
    resize: none;
}
/* contact us end */

/* footer start */
.footer{
    background:#111;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    padding:1rem 0;
    color:#fff;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    padding:1rem 0;
    color:#eee;
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color:var(--main-color);
}

.footer .box-container .box a:hover i{
    padding-right: 1.5rem;
    color:#fff;
}

.footer .credit{
    text-align: center;
    border-top: .1rem solid #222;
    color:#fff;
    padding:2rem;
    padding-top: 2.5rem;
    margin-top: 1rem;
    font-size: 2rem;
}

.footer .credit span{
    color:var(--main-color);
}
/* footer end */